  <div class="login card" style="width: 18rem;">
      <form [formGroup]="formLogin">
        <input type="email" formControlName="email" class="form-control mb-2" placeholder="Email" required autofocus>
        <input type="password" formControlName="password" class="form-control mb-2" placeholder="Password" required>
        <button
          class="btn btn-lg btn-primary btn-block mb-1"
          (click)="login()"
          type="submit">
          Login
        </button>
      </form>
  </div>
